 body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight:200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .container {
    margin: auto;
    display: flex;
    background-color:  #0e683e;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(61, 60, 60, 0.914);
    width: 55%;
    margin-top: 100px;
    margin-bottom: 100px;
    max-height: 475px;
  }
  .left-content {
    flex: 1;
    display: table-column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-top: 20%;
    max-width: 400px;
    max-height: 475px;

  }
  .right-content{
    flex: 2;
    width: 50%;
  }
  .right-content img {
    width: 100%; 
    height: 525px;
  }

  #login-form {
    background-color: #ffffff;
    padding: 40px 30px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
  }
  
  .input-box {
    position: relative;
    margin-bottom: 25px;
  }
  
  .input-box input {
    width: 70%;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .input-box input:focus {
    border-color:  #0e683e;
    box-shadow: 0 0 5px rgba(58, 123, 213, 0.3);
  }
  
  .input-box label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    transition: 0.3s;
    pointer-events: none;
  }
  
  .input-box input:focus + label,
  .input-box input:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 12px;
    color: rgb(255, 255, 255);
  }
  
  button[type="submit"] {
    width: 80%;
    padding: 15px;
    background-color: #ffffff;
    color: #0e683e;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button[type="submit"]:hover {

  font-size: 20px;  }
  
  .fileLabel {
    text-align: center;
    margin-top: 15px;
    color: #555;
  }
  
 
  
  .input-box {
    position: relative;
    margin-bottom: 25px;
  }
  
  .input-box textarea {
    width: 80%;
    padding: 15px;
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    resize: none; /* Disable resize */
    transition: all 0.3s ease;
  }
  
  .input-box textarea:focus {
    border-color:  #0e683e;
    box-shadow: 0 0 5px rgba(58, 123, 213, 0.3);
  }
  
  .input-box label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    transition: 0.3s;
    pointer-events: none;
  }
  
  .input-box textarea:focus + label,
  .input-box textarea:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 12px;
    color:  #ffffff;
  }

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.navbar ul{
    list-style: none;
    position: absolute;
    color: #fff;
}
.navbar ul li{
    font-size: 15px;
    color: rgb(255, 255, 255);
    display: inline;

}
.navbar ul li a{
    color: rgb(255, 255, 255);
    font-weight: 400;
    transition:  0.3s ease;
    text-decoration: none;
}
.navbar ul li a:hover{
    font-size: 20px;
}
